@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300;400&family=Raleway:wght@200;300&display=swap');

/* Css reset */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* Main styling */
body {
   font-family: 'Raleway', sans-serif;
   font-weight: 100;
   line-height: 1.6;
   color: #333;
}

h1, h2, h3 {
   padding-bottom: 0.625rem;
   line-height: 1.3;
   font-weight: 100;
}

p {
   margin: 0.625rem 0;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: #333;
}

img {
   width: 100%;
}

/* Navbar */
.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #333;
   color: #fff;
   height: 4.375rem;
   width: 100%;
   padding: 1.25rem 0.625rem;
   position: fixed;
   top: 0;
   transition: 0.9s;
}

.navbar.top {
   background: transparent;
}

.navbar a {
   color: #fff;
   padding: 0.625rem 0.938rem;
}

.navbar .logo {
   font-size: 1.5rem;
   padding: 0.938rem;
   order: 2;
   transform: translateX(-50%);
}

.navbar nav {
   order: 1;
}

.navbar nav a {
   padding: 0.938rem;
   font-weight: 900;
   font-size: 0.938rem;
   transition: all 0.4s ease-in-out;
}

.navbar nav a:hover {
   border-bottom: 0.125rem solid #fff;
}

.navbar ul {
   display: flex;
}

.navbar .social {
   order: 3;
   margin-right: 1.25rem;
}

.navbar .social a {
   opacity: 0.5;
   padding: 0 1.25rem;
   transition: all 0.4s ease-in-out;
}

.navbar .social a:hover {
   opacity: 1;
}

/* Hero */
.hero {
   background: url('../img/home/home.jpg') no-repeat center center/cover;
   height: 100vh;
   color: #fff;
   position: relative;
   padding-top: 0.938rem;
}

.hero .content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 100%;
   padding: 0 1.25rem;
   line-height: 1.8;
}

.hero .content h1 {
   font-size: 6.25rem;
   font-weight: 600;
   padding-bottom: 1.25rem;
}

.hero .content p {
   font-size: 1.375rem;
}

.hero .content .btn {
   margin-top: 1.25rem;
}

.hero::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%; 
   background: rgba(0, 0, 0, 0.4);
}

.hero * {
   z-index: 10;
}

/* Icons */
.icons {
   padding: 1.25rem;
}

.icons i {
   font-size: 2.5rem;
   color: #14af74;
   padding-bottom: 1rem;
}

.icons h3 {
   font-weight: 600;
}

/* food */
.food img {
   border-radius: 0.188rem;
}

.food img:hover {
   opacity: 0.7;
}

/* Rooms */
.rooms p {
   font-weight: 500;
}

.rooms .room {
   display: flex;
   flex-direction: row;
   padding: 0 1.25rem;
   font-weight: 500;
}

.rooms .room > div {
   display: flex;
   flex-direction: column;
   padding: 0 1.25rem;
}

.rooms .room img {
   border-radius: 0.188rem;
}

.rooms .room h3 {
   padding-top: 1.25rem;
   font-weight: 500;
   font-size: 1.313rem;
}

.rooms .room .list {
   padding: 0.938rem 0 1.875rem 0;
}

.rooms .room .list ul {
   list-style: disc;
   padding: 0 1.125rem;
   font-size: 1.063rem;
}

.rooms .room .list ul li {
   padding: 0.313rem 0;
}

.rooms .room .btn {
   width: 100%;
   margin-top: 0.625rem;
   text-align: center;
}

.rooms .room .btn:hover {
   background: #3cce96;
   color: #fff;
}

/* Contact */
.contact h2 {
   font-weight: 500;
   padding-top: 0.625rem 0;
}

.contact form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   width: 100%;
}

.contact input {
   width: 100%;
   padding: 0.625rem;
   border: 0.063rem solid #ddd;
}

.contact input:focus {
   outline: none;
   border: 0.063rem solid #59d8a7;
   font-size: 0.825rem;
}

.contact .form-group {
   padding-bottom:1.25rem;
   width: 100%;
}

.form-group label {
   display: none;
}

.contact .btn {
   padding:0.75rem;
}

/* About-info */
.hero.about-post {
   background: url(../img/home/about-post.jpg) no-repeat center center/cover;
   height: 50vh;
}

.hero.about-post .content {
   padding-top: 1.25rem;
}

.hero.about-post .content h1 {
   font-size: 4.375rem;
}

.post {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
   padding: 2.5rem 2.813rem;
   font-weight: 500;
   font-size: 1.094rem;
   text-align: center;
}

.post h1 {
   font-weight: 500;
   padding-top: 0.625rem;
   font-size: 2.125rem;
}

.post-one {
   padding: 1.875rem 0 1.875rem;
   border-bottom: 0.063rem solid #3cce96;
}

.rooms.about-rooms .btn:hover {
   background: #14af74;
}

.post-two {
   padding: 0 0 1.25rem;
   margin: 0 0 1.875rem;
   border-bottom: 0.063rem solid #14af74;
}

.post-two:last-child {
   border-bottom: none;
}

.contact-info {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 0 0 1.875rem;
   font-size: 1.25rem;
   font-weight: 500;
}

.contact-info p {
   padding: 0 1.25rem;
}

.contact-info i {
   color: #aaa;
   padding: 0.625rem;
}

.contact-info p:last-child {
   background: #3cce96;
   color: #fff;
   padding: 0.938rem;
   border: 0.063rem solid #ddd;
}

/* Thank you */
.container {
   background-color: #080723;
   height: 100vh;
   color: #fff;
}

.thankyou {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 80%;
   margin: 0 3.125rem;
}

.thankyou .content {
   background: url('../img/home/thankyou.gif') no-repeat center center/cover;
   padding-top: 25rem;
   font-weight: 500;
}

.thankyou .content h1 {
   font-size: 2.813rem;
   background-color: #0284d0;
   padding: 0.313rem;
   border-radius: 0.313rem;
}

.thankyou .content p {
   font-size: 0.95rem;
}

.footer-thankyou {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-top: 3.125rem;
}

.footer-thankyou .socials a {
   font-size: 1rem;
   color: #0284d0;
}

.footer-thankyou .socials a:hover {
   color: #fff;
}
/* Footer */
.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 1.875rem;
}

.socials a {
   font-size: 1.25rem;
   color: #fff;
   padding: 0.5rem 0.625rem;
}

.socials a:hover {
   color: #14af74;
}

/* Media queries */
/* ? @900px */
@media(max-width: 56.25rem) {
   .navbar .logo {
      order: 1;
      padding: 0.938rem 0;
      transform: none;
   }
   
   .navbar nav {
      order: 3;
   }
   
   .navbar .social {
      display: none;
      order: 2;
   }
   
   .hero .content h1 {
      font-size: 4.688rem;
   }

   .hero .content p {
      font-size: 1.25rem;
   }
}

/* ? @768px */
@media(max-width: 48rem) {
   .flex-items {
      flex-direction: column;
   }

   section.flex-columns .column {
      flex: 100%;
      max-width: 100%;
   }

   section.flex-grid .column {
      flex: 50%;
      max-width: 50%;
   }

   .rooms .room {
      flex-direction: column;
      padding: 0.313rem 6.25rem;
   }

   .rooms .room > div {
      padding: 0;
   }
}

/* ? @600px */
@media(max-width: 37.5rem) {
   .navbar {
      flex-direction: column;
      height: 6.875rem;
   }

   .navbar .logo {
      padding: 0 1.25rem 0.938rem;
   }

   .navbar nav a {
      padding: 0.938rem 0.813rem;
   }
}

/* ? @500px */
@media(max-width: 31.25rem) {
   .hero .content {
      line-height: 1.6;
   }

   .hero .content p {
      font-size: 1.188rem;
   }

   .rooms .room {
      padding: 0.625rem 1.875rem;
   }
}

